/* TODO:
    Nice to have: user can changes these colors in settings*/
:root {
    --primary: #d7d4ec;
    --secondary: #bee0b8;
    --tertiary: #e9c4b3;
    --dark: #201917;
    --transition-duration: 0.4s;
    touch-action: pan-x pan-y;      /* should prevent zoom on mobile */
    height: 100%;                   /* should prevent zoom on mobile */
}

/* TODO:
    Nice to have: user can select font in settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* NAV BAR */

nav {
    display: flex;
}

nav h3 {
    padding: 8px;
}

nav h5 {
    align-self: flex-end;
}

.subtitle:not(:last-child) {
    margin-bottom: 0;
}

/* HAMBURGER MENU */
#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
    right: 0;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 6;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    transition-duration: var(--transition-duration);
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .8);
    transition-duration: var(--transition-duration);
    z-index: 5;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
}

.menu-item:active {
    background-color: var(--primary);
}

#space {
    content: "";
    display: block;
    border-bottom: 2px solid var(--dark);
    width: 85%;
    margin: 5% auto;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
}

footer section {
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: 600;
}

/* CONTENT CARD */
.content-card {
    margin: 1%;
}
.content-card i {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

/* TASKS */

#completed-tasks {
    display: none;

}

#tasks-list, #completed-tasks {
    margin: 15px;
}

#tasks-list > li, #completed-tasks > p {
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(193, 233, 235);
}

#tasks-list > li *, #completed-tasks > li * {
    margin: 0 5px;
}

#tasks-list ul li label {
    float: left;
}

#tasks-list ul li label input {
    float: right;
}

#completed-task-btn {
    display: none;
    width: 20%;
    margin-right: 10px;
    font-weight: 600;
    font-size: 0.7rem;
}

#task-max-message {
    position: absolute;
    top: 50%;
    display: none;
}







/* COLORS */
*,
p,
.label,
.title,
.subtitle
.modal-card-title,
.checkbox:hover {
    color: var(--dark)
}

.content-card i {
    color: red;
}

body,
html,
.modal-card-body {
    background-color: var(--primary);
}

.menu-box,
.modal-card-head,
nav {
    background-color: var(--secondary);
}

footer,
.modal-card-foot {
    width: 100%;
    background-color: var(--tertiary);
}

.message-body,
.message-body span {
    color: #00947e;
}

