:root {
    --primary: #d7d4ec;
    --secondary: #bee0b8;
    --tertiary: #e9c4b3;
    --dark: #201917;
    --transition-duration: 0.4s;
    touch-action: pan-x pan-y;      /* should prevent zoom on mobile */
    height: 100%;                   /* should prevent zoom on mobile */
}

/* TODO:
    Nice to have: user can select font in settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAV BAR */
nav h3 {
    padding: 8px;
}

nav h5 {
    align-self: flex-end;
}

.subtitle:not(:last-child) {
    margin-bottom: 0;
}

/* HAMBURGER MENU */
#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
    right: 0;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 6;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    transition-duration: var(--transition-duration);
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
    transition-duration: var(--transition-duration);
    z-index: 5;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
}

.menu-item:active {
    background-color: var(--primary);
}

#space {
    content: "";
    display: block;
    border-bottom: 2px solid var(--dark);
    width: 85%;
    margin: 5% auto;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
}

footer section {
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: 600;
}

/* CONTENT CARD */
.content-card {
    margin: 1%;
}
.content-card i {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

/* TASKS */
#completed-tasks {
    display: none;
    background-color: white;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 12px 4px rgba(143, 110, 215, 0.2);
    margin: 0 15px 15px 15px;
}

#tasks-list-container {
    box-shadow: 0 0 12px 4px rgba(143, 110, 215, 0.2);
    margin: 15px;
}

#tasks-list-container > li:first-child {
    width: 100%;
    padding: 10px;
    background: linear-gradient(0deg, #8f6ddb 0%, #d17ef2 100%);
}

#tasks-list-container > li:first-child * {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

#tasks-list-container > li:first-child ul:nth-child(2) > * {
    margin-right: 5%;
}

#tasks-list-container > li:nth-child(2) {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 50vh;
}

#tasks-list {
    width: 100%;
    max-height: 50vh;
}

#tasks-list > li, #completed-tasks > p {
    width: 80%;
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 1px solid rgb(109, 211, 214);
}

#tasks-list > li *, #completed-tasks > li * {
    color: gray;
    margin: 0 5px;
}

#tasks-list ul li label {
    float: right;
}

#tasks-list ul li label input {
    float: left;
}

#completed-task-btn {
    display: none;
    width: 25%;
    border: 2px solid #643e04;
    box-shadow: #643e04 2px -2px 0 0;
    background-color: rgb(231, 185, 59);
    color: black;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;
    font-size: 0.7rem;
}

#completed-task-btn:active {
    box-shadow: #643e04 2px -4px 0 0;
    transform: translate(2px,2px);
}

#task-max-message {
    position: absolute;
    top: 30%;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    z-index: 8;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
}

.section {
    padding: 20px 1.5rem;
}





/* COLORS */
*,
p,
.label,
.title,
.subtitle
.modal-card-title,
.checkbox:hover {
    color: var(--dark)
}

.content-card i {
    color: red;
}

body,
html,
.modal-card-body {
    background-color: var(--primary);
}

.menu-box,
.modal-card-head,
nav {
    background-color: var(--secondary);
}

footer,
.modal-card-foot {
    width: 100%;
    background-color: var(--tertiary);
}

.message-body,
.message-body span {
    color: #00947e;
}

